<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%  res.forEach(function(item){ %>
        <p>Question: <%=item.question%> </p>
        <p><%=item.reply%> </p>
    <% }) %>
    <form action="/api/chatBot" method="post">
        <label for="query">Enter your query:</label>
        <input id="query" type="text" name="query" >
        <button type="submit" name="submit">Send</button>
    </form>
</body>
</html>