<%- include('partials/header') %>
<body>
  <div class="row mt-5" >
    <div class="col-7">
        TAGLINE
    </div>
    <div class="col-5">
        <img src="\image\girl in wavy hair and glasses 6.svg" id="vector"></img>
    </div>
  </div>
 
<%- include('partials/footer') %>
