<%- include('partials/header') %>
<body>
  <div class="container-main" >
    <div class="">
        TAGLINE
    </div>
    <div class="">
        <img src="\image\girl in wavy hair and glasses 6.svg" id="vector"></img>
    </div>
  </div>
 
<%- include('partials/footer') %>
